<h2>{{title}}</h2>
<ul>
  {{#each people as |person|}}
  <article class="listing">
    <img src="{{person.profileimage}}" alt="" style="width:100px;height:100px;">
    <h3>{{#link-to "people.show" person class=person.id}}{{person.name}}{{/link-to}}</h3>
    <div class="detail owner">
      <span>Owner:</span> {{person.name}}
    </div>
    <div class="detail type">
      <span>Category:</span> {{person.category}}
    </div>
    <div class="detail bedrooms">
      <span>Age:</span> {{person.age}}
    </div>
  </article>
  {{/each}}
</ul>
